html{
    background-color:cadetblue;
}


#encabezado{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    background-color:cadetblue;
    width: 100%;
    height: auto;
    text-decoration: center;
    justify-content: center;
    gap:20px 
}
.boton {
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-top:50PX;
    justify-content: center;
    display: flex ;
    align-items: center;
    text-align: center;
    width: 200PX;
    height: 50PX;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color:BLUE;
    background: linear-gradient(135deg, #033cf5, #a777e3);
    border: none;
    border-radius: 50px;
}
h1{
    text-align: center;
}
#contenedor{
    background-color: radial-gradient(red, cyan,blue, );
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
}
.contenedor_imagen_catalogo{
    border-radius: 20%;
    display: grid;
    width: 200px;
    height:auto;
    background-color:gray;
    border-radius: 50PX;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    border-radius: 20%;
    width:150px ;
    margin-top: 25px;
    border-top: 25px;
    height: 150px;

}