/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* FONDO GENERAL (más moderno) */
body {
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* CONTENEDOR APP */
.cart-container {
    background: #ffffff;
    width: 100%;
    max-width: 400px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* HEADER */
.cart-header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: linear-gradient(135deg, #1d4d2f, #2e7d4f);
    color: white;
}

.cart-header h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

/* BOTÓN ATRÁS */
.back-button {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.back-button:hover {
    transform: scale(1.1);
}

/* CONTENIDO */
.cart-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

/* ICONO */
.icon-circle {
    width: 140px;
    height: 140px;
    background: linear-gradient(135deg, #1d4d2f, #2e7d4f);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* ICONO INTERNO */
.empty-cart-img {
    width: 100% ;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

/* TEXTO */
.cart-content h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.cart-content p {
    font-size: 0.95rem;
    color: #666;
}

/* FOOTER */
.cart-footer {
    padding: 20px;
}

/* BOTÓN */
.btn-explore {
    display: block;
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #1d4d2f, #2e7d4f);
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

/* HOVER BOTÓN */
.btn-explore:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}